*.aux
*.fls
*.fdb_latexmk
*.pdf
*.dvi

*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

!100-457-704.pdf
!M101P - Course Completion Confirmation.pdf
!M102 - Course Completion Confirmation.pdf
